/* You can add global styles to this file, and also import other style files */
/* styles.css or styles.scss */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Quicksand", sans-serif;
}

.toast-success {
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  z-index: 1050;
  background-color: #48bd2a !important;
  color: white !important;
  padding: 10px 15px !important;
  font-weight: 600;
}

.toast-error {
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  z-index: 1050;
  background-color: #bb3f15 !important;
  color: white !important;
  padding: 10px 15px !important;
  font-weight: 600;
}

.toast-close-button {
  display: none !important; /* Ensure the close button is hidden */
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
